/* You can add global styles to this file, and also import other style files */
/* body{
    background-image: url("https://img.freepik.com/premium-photo/texture-black-navy-blue-paper-background-half-two-colors-with-arrow-macro-structure-dense-craft-cardboard_113767-5970.jpg") ;

    background-repeat: no-repeat;

    height:300px;
    width:  block  ;

} */

body{
    background-color: blue;
}